@use "variables" as *;

.app-promo {
  margin: 0 auto;

  @media (min-width: $landscapePhone) {
    max-width: 708px;
  }

  @media (min-width: $bigScreen) {
    max-width: 1100px;
  }

  &__images {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 100%);
    padding: 0;
    filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    overflow-x: auto;
    padding-left: 20px;
    padding-right: 20px;
    grid-column-gap: 30px;

    &::-webkit-scrollbar {
      height: 1px;
  }

    &::-webkit-scrollbar-thumb {
      background-color: #212121;
      border-radius: 1px;
    }

    @media (min-width: $landscapePhone) {
      grid-column-gap: 15px;
      grid-template-columns: repeat(3, 226px);
      padding-left: 0px;
      padding-right: 0px;
    }

    @media (min-width: $bigScreen) {
      grid-column-gap: 25px;
      grid-template-columns: repeat(3, 350px);
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  &__list-item {
    display: contents;
  }

  &__image {
    display: block;
    width: 100%;
  }
}
