.page {
  background-color: #FFFFFF;
  font-family: "Inter", Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  padding: 10px;
}
