@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
.header {
  background-color: #222222;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 70px;
}
@media (min-width: 795px) {
  .header {
    padding: 30px 45px 50px 50px;
    min-height: 522px;
  }
}
@media (min-width: 1350px) {
  .header {
    padding-left: 157px;
    padding-right: 220px;
    padding-bottom: 130px;
    min-height: 480px;
    margin-bottom: 60px;
  }
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}
@media (min-width: 795px) {
  .header__container {
    margin: 0 auto;
    position: relative;
    max-width: 1000px;
  }
}
@media (min-width: 1350px) {
  .header__container {
    max-width: 1100px;
  }
}
.header__logo {
  width: 40px;
  height: 40px;
  padding-bottom: 50px;
}
@media (min-width: 1350px) {
  .header__logo {
    padding-bottom: 60px;
  }
}
.header__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 14px;
}
@media (min-width: 795px) {
  .header__title {
    font-size: 33px;
    line-height: 37px;
    padding-bottom: 20px;
    max-width: calc(100% - 250px - 100px);
  }
}
@media (min-width: 1350px) {
  .header__title {
    font-size: 60px;
    line-height: 69px;
    padding-bottom: 28px;
    min-height: 138px;
  }
}
.header__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  padding-bottom: 50px;
}
@media (min-width: 795px) {
  .header__subtitle {
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 250px;
    max-width: calc(100% - 250px - 100px);
  }
}
@media (min-width: 1350px) {
  .header__subtitle {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 108px;
    min-height: 52px;
  }
}
.header__image {
  display: block;
  width: 100%;
  padding-bottom: 50px;
  filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
}
@media (min-width: 795px) {
  .header__image {
    position: absolute;
    width: 250px;
    height: 502px;
    top: 90px;
    right: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1350px) {
  .header__image {
    width: 311px;
    height: 630px;
    top: 10px;
  }
}
.header__detail-button {
  width: 100%;
  height: 44px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0;
  border: 0;
  font-family: "Inter";
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #222222;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s linear;
}
.header__detail-button:hover {
  opacity: 0.93;
}
@media (min-width: 795px) {
  .header__detail-button {
    width: 240px;
    height: 48px;
    font-size: 14px;
  }
}
@media (min-width: 1350px) {
  .header__detail-button {
    height: 54px;
    font-size: 16px;
  }
}

.main {
  flex: 1;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  font-family: "Inter", Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.app-description {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 100%);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 10px;
  grid-template-areas: "subtitle-left subtitle-right" "title-left title-right" "text-left text-right";
  overflow-x: scroll;
  position: relative;
}
.app-description::-webkit-scrollbar {
  height: 1px;
}
.app-description::-webkit-scrollbar-thumb {
  background-color: #212121;
  border-radius: 1px;
}
@media (min-width: 795px) {
  .app-description {
    grid-template-columns: repeat(2, 1fr);
    max-width: 708px;
  }
}
@media (min-width: 1350px) {
  .app-description {
    max-width: 1100px;
  }
}
.app-description__item {
  display: contents;
}
.app-description__subtitle {
  margin: 0;
  padding: 20px 20px 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: rgba(17, 17, 17, 0.6);
  background-color: #f8f8f8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.app-description__subtitle_left {
  grid-area: subtitle-left;
}
.app-description__subtitle_right {
  grid-area: subtitle-right;
}
@media (min-width: 795px) {
  .app-description__subtitle {
    padding: 30px 30px 12px;
  }
}
@media (min-width: 1350px) {
  .app-description__subtitle {
    font-size: 18px;
    padding: 40px 40px 20px;
  }
}
.app-description__title {
  margin: 0;
  padding: 0 20px 50px;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #111111;
  background-color: #f8f8f8;
}
.app-description__title_left {
  grid-area: title-left;
}
.app-description__title_right {
  grid-area: title-right;
}
@media (min-width: 795px) {
  .app-description__title {
    padding: 0 30px 50px;
  }
}
@media (min-width: 1350px) {
  .app-description__title {
    font-size: 32px;
    line-height: 38px;
    padding: 0 40px 40px;
  }
}
.app-description__text {
  margin: 0;
  padding: 0 20px 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: rgba(17, 17, 17, 0.6);
  background-color: #f8f8f8;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.app-description__text_left {
  grid-area: text-left;
}
.app-description__text_right {
  grid-area: text-right;
}
@media (min-width: 795px) {
  .app-description__text {
    padding: 0 30px 30px;
  }
}
@media (min-width: 1350px) {
  .app-description__text {
    font-size: 16px;
    line-height: 24px;
    padding: 0 40px 40px;
  }
}

.app-promo {
  margin: 0 auto;
}
@media (min-width: 795px) {
  .app-promo {
    max-width: 708px;
  }
}
@media (min-width: 1350px) {
  .app-promo {
    max-width: 1100px;
  }
}
.app-promo__images {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 100%);
  padding: 0;
  filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  overflow-x: auto;
  padding-left: 20px;
  padding-right: 20px;
  grid-column-gap: 30px;
}
.app-promo__images::-webkit-scrollbar {
  height: 1px;
}
.app-promo__images::-webkit-scrollbar-thumb {
  background-color: #212121;
  border-radius: 1px;
}
@media (min-width: 795px) {
  .app-promo__images {
    grid-column-gap: 15px;
    grid-template-columns: repeat(3, 226px);
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1350px) {
  .app-promo__images {
    grid-column-gap: 25px;
    grid-template-columns: repeat(3, 350px);
    padding-left: 0px;
    padding-right: 0px;
  }
}
.app-promo__list-item {
  display: contents;
}
.app-promo__image {
  display: block;
  width: 100%;
}

.section__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #111111;
  padding: 0 20px 70px;
  margin: 0;
}
@media (min-width: 795px) {
  .section__title {
    font-size: 33px;
    line-height: 37px;
  }
}
@media (min-width: 1350px) {
  .section__title {
    font-size: 60px;
    line-height: 68px;
    padding-top: 0px;
    padding-bottom: 120px;
  }
}
.section__title_small {
  text-align: center;
}
@media (min-width: 795px) {
  .section__title_small {
    padding: 0px 0px 24px;
    font-size: 26px;
    line-height: 31px;
  }
}
@media (min-width: 1350px) {
  .section__title_small {
    padding: 0px 300px 20px;
    font-size: 32px;
    line-height: 38px;
  }
}
@media (min-width: 795px) {
  .section__title_limited {
    margin: 0 auto;
    max-width: 708px;
    padding: 0 0 70px;
  }
}
@media (min-width: 1350px) {
  .section__title_limited {
    margin: 0 auto;
    padding: 0 0 120px;
    max-width: 1100px;
  }
}

.collection-form {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
}
@media (min-width: 795px) {
  .collection-form {
    padding: 30px 119px;
    max-width: 470px;
    margin: 0 auto;
  }
}
@media (min-width: 1350px) {
  .collection-form {
    padding: 60px;
    max-width: 980px;
  }
}
.collection-form__text {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: rgba(17, 17, 17, 0.6);
  padding-bottom: 100px;
}
@media (min-width: 1350px) {
  .collection-form__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(17, 17, 17, 0.6);
  }
}

.form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 74px 74px 104px 74px;
  grid-template-areas: "name" "email" "message" "button";
  row-gap: 20px;
}
@media (min-width: 795px) {
  .form {
    grid-template-rows: 54px 54px 130px 78px;
  }
}
@media (min-width: 1350px) {
  .form {
    grid-template-areas: "name email" "message message" ". button";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 64px 130px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.form__name-input {
  padding: 15px 20px;
  border: 0;
  background: #ffffff;
  border-radius: 8px;
  grid-area: name;
  cursor: pointer;
  outline: none;
}
.form__email-input {
  padding: 15px 20px;
  border: 0;
  background: #ffffff;
  border-radius: 8px;
  grid-area: email;
  cursor: pointer;
  outline: none;
}
.form__message-input {
  padding: 15px 20px;
  border: 0;
  background: #ffffff;
  border-radius: 8px;
  grid-area: message;
  resize: none;
  cursor: pointer;
  outline: none;
}
.form__save-button {
  height: 44px;
  padding: 0;
  background-color: #222222;
  border: 0;
  border-radius: 8px;
  margin: 30px 0 0;
  grid-area: button;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 1s linear;
}
.form__save-button:hover {
  opacity: 0.85;
}
@media (min-width: 795px) {
  .form__save-button {
    height: 48px;
  }
}
@media (min-width: 1350px) {
  .form__save-button {
    height: 54px;
    margin-left: calc(100% - 194px);
    margin-top: 10px;
    align-self: end;
  }
}

.scroll_dot {
  width: 4px;
  height: 4px;
  background-color: #d9d9d9;
  border-radius: 50%;
}
.scroll_dot:first-child {
  background-color: #212121;
}
@media (min-width: 795px) {
  .scroll_dot {
    width: 0px;
    height: 0px;
  }
}

.scroll__dots {
  display: grid;
  grid-template-columns: repeat(auto-fit, 4px);
  grid-template-rows: 24px;
  grid-auto-flow: column;
  grid-auto-columns: 4px;
  -moz-column-gap: 4px;
       column-gap: 4px;
  align-items: end;
  justify-content: center;
  padding-bottom: 70px;
}
@media (min-width: 1350px) {
  .scroll__dots {
    padding-bottom: 120px;
  }
}

.footer {
  margin-top: 70px;
  background-color: #222222;
  border-radius: 10px;
  padding: 20px;
  flex-shrink: 0;
}
@media (min-width: 795px) {
  .footer {
    padding: 50px 50px;
    min-height: 300px;
  }
}
@media (min-width: 1350px) {
  .footer {
    padding: 60px 160px;
    min-height: 350px;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}
@media (min-width: 795px) {
  .footer__container {
    margin: 0 auto;
    position: relative;
    max-width: 1000px;
  }
}
@media (min-width: 1350px) {
  .footer__container {
    max-width: 1100px;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 14px;
}
@media (min-width: 795px) {
  .footer__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 20px;
    max-width: calc(100% - 250px - 69px);
  }
}
@media (min-width: 1350px) {
  .footer__title {
    max-width: calc(100% - 311px - 220px);
  }
}
.footer__subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
  padding-bottom: 95px;
}
@media (min-width: 795px) {
  .footer__subtitle {
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 130px;
    max-width: calc(100% - 250px - 100px);
  }
}
@media (min-width: 1350px) {
  .footer__subtitle {
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 174px;
    min-height: 52px;
  }
}
.footer__image {
  display: none;
}
@media (min-width: 795px) {
  .footer__image {
    display: block;
    filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
    position: absolute;
    width: 250px;
    height: 502px;
    top: -80px;
    right: 0;
  }
}
@media (min-width: 1350px) {
  .footer__image {
    width: 311px;
    height: 630px;
    top: -90px;
    right: 60px;
  }
}
.footer__detail-button {
  width: 100%;
  height: 44px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 0;
  border: 0;
  font-family: "Inter";
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #222222;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s linear;
}
.footer__detail-button:hover {
  opacity: 0.93;
}
@media (min-width: 795px) {
  .footer__detail-button {
    width: 240px;
    height: 48px;
    font-size: 14px;
  }
}
@media (min-width: 1350px) {
  .footer__detail-button {
    width: 470px;
    height: 54px;
    font-size: 16px;
  }
}/*# sourceMappingURL=index.css.map */